
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Pacifico" rel="stylesheet">
    <header>
      <nav>
        <ul class = .amatic>
          <li><a href=#about> about</a> </li>
          <li><a href =  >my coloni</a> </li>
          <li> contact </li>
          <li><%= link_to "sign up", signup_url %> </li>
        </ul>
      </nav>
      <h1>Coloni</h1>
    </header>
    <section class = "about" id = "about">
        <h2> What is Coloni? </h2>
        <p>Coloni is online community cat database. Track and keep records of cats in your colony including
        spay/neuter status, vaccines and more!</p>
      </class>
    </section>
    <section class = "sign_up" id = "sign_up">
        <h2>Sign Up!</h2>
        <p>Coloni is not currently available to the general public, but if you're interested in
          learning more and being one of the first care takers to test this product, sign up <a href=https://docs.google.com/forms/d/e/1FAIpQLSfka1gzwOwKm1G003umiRvcwhXIzDk6-SCQbvqbLrRXOlGyOA/viewform?usp=sf_link>here!</a></p>
    <footer>
    </footer>
