<h1>Update Colony Info</h1>
<style> body{
  background-color: #c6359B;
}
</style>

<%= render 'form', colony: @colony %>

<%= link_to "Delete", @colony, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Show', @colony %> |
<%= link_to 'Back', colonies_path %>
