
/*---------header----------*/
h1,
h2{
font-family:'Pacifico', cursive;
color:#9b59b6;
}

h1{
  font-size:40px;
}
.row{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  text-align: center; 
}
