
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Pacifico" rel="stylesheet">
    <header>
      <nav>
        <ul class = .amatic>
          <li class = "header"><a href = home#index>home </a></li>
          <li class = "header"><a href= home#about> about</a> </li>
          <li class = "header"><a href = colonies#index >my coloni</a> </li>
          <li class = "header"> contact </li>
          <li class = "header"><%= link_to "sign up", signup_url %> </li>
          <li class = "header"><a href= #>login</a></li>
        </ul>
